/* Reset default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  body{
    background-image: url('https://wallpapercave.com/wp/wp1877585.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Style the header */
  h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Style the navigation bar */
  .nav {
    
    color: #000000;
    text-align: center;
    padding: 10px;
  }
  
  /* Style the navigation list */
  .order {
   
    display: flex;
    justify-content: center;
  }
  
  .order li {
    background-color: rgb(169, 32, 218);
    width: 210px;
    height: 30px;
    margin: 0 10px;
    padding-top: 10px;
    cursor: pointer;
    border: 2px solid #333;
    
  }
  
  .order li:hover {
    background-color: rgb(231, 50, 34);
  }
  
  /* Style the container */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  
  
  
  input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #7e7b7b;
    border-radius: 5px;
    font-size: 12px;
  }
  
  
  /* Style the data displayed on click */
  #data {
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    list-style-type: circle; 
  }
  
  #data ul {
    border: 2px solid wheat;
    padding-left: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    width: 100%;
    background-color: beige;
    list-style-type: circle;
  }
  
  #data ul li {
    margin: 5px 0;
    text-align: center;
    list-style-type: circle;
    padding-left: 25px;
  }
  